body {
    background-color: black;
    color: white;
}

.peace {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: bold;
}

.peace-translation {
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
}

.message {
    margin: 4rem;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}